<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Edition du praticien</title>
</head>
<body>
	<section layout:fragment="monContenu">
		<div class="card mt-3">
			<form th:action="@{/praticien/save}" method="post">
			<input type="hidden" name="id"	th:value="${praticien.id}"> 
			<div class="card-header bg-info text-white">
				<h3>Edition du praticien</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
						<label for="civilite">Civilite:</label> <select
							class="form-control" id="civilite" name="civilite">
							<option value="">Choisir une civilite</option>
							<option th:each="civ : ${civilites}" th:value="${civ}" th:selected="${praticien.civilite == civ}">[[${civ.label}]]</option>
						</select>
					</div>
				<div class="form-group">
					<label for="nom">Nom:</label> <input
						type="text" class="form-control" id="nom"
						name="nom" th:value="${praticien.nom}">
					<span class="text-danger" th:errors="${praticien.nom}"></span>
				</div>
				<div class="form-group">
					<label for="prenom">Prénom:</label> <input
						type="text" class="form-control" id="prenom"
						name="prenom" th:value="${praticien.prenom}">
					<span class="text-danger" th:errors="${praticien.prenom}"></span>
				</div>
				<div class="form-group">
					<label for="telephone">Téléphone:</label> <input type="text"
						class="form-control" id="telephone" name="telephone"
						th:value="${praticien.telephone}">
					<span class="text-danger" th:errors="${praticien.telephone}"></span>
				</div>
				<div class="form-group">
						<label for="secteur">Secteur:</label> <select
							class="form-control" id="secteur" name="secteur">
							<option value="">Choisir un secteur</option>
							<option th:each="sec : ${secteurs}" th:value="${sec}" th:selected="${praticien.secteur == sec}">[[${sec.label}]]</option>
						</select>
					</div>
					
				<div class="form-group">
					<label for="carteVitale">Carte Vitale:</label> <input type="checkbox"
						class="form-control" id="carteVitale" name="carteVitale"
						th:value="${praticien.carteVitale}">
					<span class="text-danger" th:errors="${praticien.carteVitale}"></span>
				</div>
				<div class="form-group">
					<label for="photo">Photo:</label> <input type="text"
						class="form-control" id="photo" name="photo"
						th:value="${praticien.photo}">
					<span class="text-danger" th:errors="${praticien.photo}"></span>
				</div>
				<div class="form-group">
					<label for="carteBancaire">Carte Bancaire:</label> <input type="checkbox"
						class="form-control" id="carteBancaire" name="carteBancaire"
						th:value="${praticien.carteBancaire}">
					<span class="text-danger" th:errors="${praticien.carteBancaire}"></span>
				</div>
				<div class="form-group">
					<label for="cheque">Cheque:</label> <input type="checkbox"
						class="form-control" id="cheque" name="cheque"
						th:value="${praticien.cheque}">
					<span class="text-danger" th:errors="${praticien.cheque}"></span>
				</div>
				<div class="form-group">
					<label for="espece">Espece:</label> <input type="checkbox"
						class="form-control" id="espece" name="espece"
						th:value="${praticien.espece}">
					<span class="text-danger" th:errors="${praticien.espece}"></span>
				</div>
				<div class="form-group">
					<label for="dureeCreneau">Duree Creneau:</label> <input type="text"
						class="form-control" id="dureeCreneau" name="dureeCreneau"
						th:value="${praticien.dureeCreneau}">
					<span class="text-danger" th:errors="${praticien.dureeCreneau}"></span>
				</div>
				
			</div>
			<div class="card-footer">
				<div class="btn-group btn-group-lg float-right">
					<button type="submit" class="btn btn-success">
						<i class="bi bi-check-square"></i>
					</button>
					<a th:href="@{/praticien/cancel}" type="button" class="btn btn-warning">
						<i class="bi bi-backspace"></i>
					</a>
				</div>
			</div>
			</form>
		</div>

	</section>

</body>
</html>