<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Liste des praticiens</title>
</head>
<body>
	<section layout:fragment="monContenu">
		<div class="card mt-3">
			<div class="card-header bg-info text-white">
				<h2>Liste des praticiens</h2>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<tr>
						<th>Identifiant</th>
						<th>Civilite</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Téléphone</th>
						<th>Secteur</th>
						<th>Spécialités</th>
						<th>Carte Vitale</th>
						<th>Photo</th>
						<th>Paiement</th>
						<th>Durée créneau</th>
						<th></th>
					</tr>
					<tr th:each="praticien : ${praticiens}">
						<td th:text="${praticien.id}"></td>
						<td>[[${praticien.civilite}]]</td>
						<td>[[${praticien.nom}]]</td>
						<td>[[${praticien.prenom}]]</td>
						<td>[[${praticien.telephone}]]</td>
						<td>[[${praticien.secteur}]]</td>
						<td>[[${praticien.specialites}]]</td>
						<td>[[${praticien.carteVitale}]]</td>
						<td>[[${praticien.photo}]]</td>
						<td>[[${praticien.paiement}]]</td>
						<td>[[${praticien.dureeCreneau}]]</td>
						<td><div class="btn-group btn-group-sm">
								<a class="btn btn-primary" th:href="@{/praticien/edit(id=${praticien.id})}"><i class="bi bi-pencil-square"></i></a>
								<a class="btn btn-danger" th:href="@{/praticien/remove(id=${praticien.id})}"><i class="bi bi-trash"></i></a>
							</div></td>
					</tr>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/praticien/add}" class="btn btn-success btn-lg">
					<i class="bi bi-plus-square"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>