<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>Edition du patient</title>
</head>
<body>
	<section layout:fragment="monContenu">
		<div class="card mt-3">
			<form th:action="@{/patient/save}" method="post">
			<input type="hidden" name="id"	th:value="${patient.id}"> 
			<input type="hidden" name="version"	th:value="${patient.version}">
			<div class="card-header bg-info text-white">
				<h3>Edition du patient</h3>
			</div>
			<div class="card-body">
					<div class="form-group">
						<label for="nom">Nom:</label> <input type="text"
							class="form-control" id="nom" name="nom" th:value="${patient.nom}">
					<span class="text-danger" th:errors="${patient.nom}"></span>
					</div>
					<div class="form-group">
						<label for="prenom">Prénom:</label> <input type="text"
							class="form-control" id="prenom" name="prenom"
							th:value="${patient.prenom}">
					<span class="text-danger" th:errors="${patient.prenom}"></span>
					</div>
					<div class="form-group">
						<label for="dtNaissance">Date de naissance:</label> <input
							type="date" class="form-control" id="dtNaissance"
							name="dtNaissance" th:value="${patient.dtNaissance}">
					<span class="text-danger" th:errors="${patient.dtNaissance}"></span>
					</div>
					<div class="form-group">
						<label for="telephone">Téléphone:</label> <input type="tel"
							class="form-control" id="telephone" name="telephone" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}"
							th:value="${patient.telephone}">
					<span class="text-danger" th:errors="${patient.telephone}">	</span>
					</div>
					<div class="form-group">
						<label for="email">Email:</label> <input type="email"
							class="form-control" id="email" name="email"
							th:value="${patient.email}">
					<span class="text-danger" th:errors="${patient.email}"></span>
					</div>
					<div class="form-group">
					<label for="principal">Principal:</label> <input type="checkbox"
						class="form-control" id="principal" name="principal"
						th:value="${patient.principal}">

				</div>
					<div class="form-group">
						<label for="rue">Adresse - Voie:</label> <input type="text"
							class="form-control" id="rue" name="rue"
							th:value="${patient.adresse?.voie}">
					<span class="text-danger" th:errors="${patient.adresse?.voie}"></span>	
					</div>
					<div class="form-group">
						<label for="complement">Complément d'adresse:</label> <input type="text"
							class="form-control" id="complement" name="complement"
							th:value="${patient.adresse?.complement}">
					<span class="text-danger" th:errors="${patient.adresse?.complement}"></span>	
					</div>
					<div class="form-group">
						<label for="codePostal">Code postal:</label> <input type="text"
							class="form-control" id="codePostal" name="codePostal"
							th:value="${patient.adresse?.codePostal}">
					<span class="text-danger" th:errors="${patient.adresse?.codePostal}"></span>
					</div>
					<div class="form-group">
						<label for="ville">Ville:</label> <input type="text"
							class="form-control" id="ville" name="ville"
							th:value="${patient.adresse?.ville}">
					<span class="text-danger" th:errors="${patient.adresse?.ville}"></span>
					</div>
			</div>
			<div class="card-footer">
				<div class="btn-group btn-group-lg float-right">
					<button type="submit" class="btn btn-success">
						<i class="bi bi-check-square"></i>
					</button>
					<a th:href="@{/patient/cancel}" type="button" class="btn btn-warning">
						<i class="bi bi-backspace"></i>
					</a>
				</div>
			</div>
			</form>
		</div>

	</section>

</body>
</html>