<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>[[#{patient.list.title}]]</title>
</head>
<body>
	<section layout:fragment="monContenu">
		<div class="card mt-3">
			<div class="card-header bg-info text-white">
				<h2>[[#{patient.list.header}]]</h2>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<tr>
						<th>id</th>
						<th>civilite</th>
						<th>nom</th>
						<th>prenom</th>
						<th>dtNaissance</th>
						<th>telephone</th>
						<th>email</th>
						<th>voie</th>
						<th>complement</th>
						<th>cp</th>
						<th>ville</th>
						<th>principal</th>
						<th></th>
					</tr>
					<tr th:each="pat : ${mesPatients}">
						<td th:text="${pat.id}"></td>
						<td>[[${pat.civilite}]]</td>
						<td>[[${pat.nom}]]</td>
						<td>[[${pat.prenom}]]</td>
						<td th:text="${#dates.format(pat.dtNaissance, 'dd-MM-yyyy')}"></td>
						<td>[[${pat.telephone}]]</td>
						<td>[[${pat.email}]]</td>
						<td>[[${pat.adresse.voie}]]</td>
						<td>[[${pat.adresse.complement}]]</td>
						<td>[[${pat.adresse.cp}]]</td>
						<td>[[${pat.adresse.ville}]]</td>
						<td>[[${pat.principal}]]</td>
						<td><div class="btn-group btn-group-sm">
								<a class="btn btn-primary" th:href="@{/patient/edit(id=${pat.id})}"><i class="bi bi-pencil-square"></i></a>
								<a class="btn btn-info" th:href="@{/patient/editWithPathVariable/{id}(id=${pat.id})}"><i class="bi bi-pencil-square"></i></a> 
								<a class="btn btn-danger" th:href="@{/patient/remove(id=${pat.id})}"><i class="bi bi-trash"></i></a>
							</div></td>
					</tr>
				</table>
			</div>
						<div class="card-footer">
				<a th:href="@{/patient/add}" class="btn btn-success btn-lg"> <i class="bi bi-plus-square"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>