<div class="card mt-3">
    <div class="card-header bg-info text-white">
        <h2>Liste des praticiens</h2>
        <input type="text" [ngModel]="filtre" (ngModelChange)="like($event)">
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!-- <th>Identifiant</th>
                    <th>Version</th> -->
                    <th>Civilite</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <!-- <th>Lieux</th> -->
                    <th>Spécialités</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let praticien of list()">
                    <td>{{praticien.civilite}}</td>
                    <td>{{praticien.nom}}</td>
                    <td>{{praticien.prenom}}</td>
                    <td>{{praticien.telephone}}</td>
                    <!-- <td ><app-praticien-lieux></app-praticien-lieux></td> -->
                    <td><span *ngFor="let specialite of praticien.specialites">{{specialite.nom}}<br></span></td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(praticien.id)"><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

